---
const { evento, hora, lugar, direccion, url, imagen } = Astro.props;
---

<img class="h-full object-cover" src={imagen} />

<div class="flex flex-col my-auto py-3">
    <h1
        class="font-display font-extrabold text-3xl sm:text-4xl md:text-[27px] lg:text-4xl 2xl:text-5xl"
    >
        {evento}
    </h1>
    <p
        class="font-display font-semibold text-xl sm:text-2xl md:text-xl lg:text-3xl 2xl:text-4xl"
    >
        {hora}
    </p>

    <p
        class="font-bold font-display mt-4 lg:mt-2 2xl:mt-8 text-2xl sm:text-3xl md:text-2xl lg:text-3xl"
    >
        {lugar}
    </p>
    <p class="text-lg sm:text-xl md:text-lg lg:text-xl font-display">
        {direccion}
    </p>
    <a href={url} target="_blank">
        <button
            type="button"
            class="bg-black text-white mt-4 mb-4 md:mb-0 text-base sm:text-xl md:text-base lg:text-xl p-3 font-bold rounded-md"
        >
            Ver en el mapa
        </button>
    </a>
</div>
